<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>first_dataviz_project_part_2</title>
    <meta name="description" content="first_dataviz_project_part_2">
    <meta name="author" content="Anthony">

    <link rel="stylesheet" href="css/bootstrap.css">    
    <link rel="stylesheet" href="css/style.css">

    <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]
      -->

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/d3.js"></script>    
    <script src="js/app.js"></script>

  </head>
  <body>

    
    <div id="graphic">
    </div>
  
  </body>
</html>
